<nav class="mt-5" data-aos="fade-up">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      [class.d-none]="page == 1"
      (click)="changePage($event, -1)"
    >
      <span class="page-link">&lang;</span>
    </li>
    <li
      *ngFor="let i of pagination"
      class="page-item"
      data-value="{{ i + 1 }}"
      [class.d-none]="pagination[i + 1] < page - 2 || pagination[i + 1] > page + 2 || page == pagination.length"
      [class.active]="pagination[i + 1] == page"
      (click)="changePage($event)"
    >
      <span class="page-link">{{ i + 1 }}</span>
    </li>
    <li
      class="page-item"
      [class.d-none]="page == pagination.length - 1 || pagination.length - 1 == 0"
      (click)="changePage($event, 1)"
    >
      <span class="page-link">&rang;</span>
    </li>
  </ul>
</nav>
