.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 999;

  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    position: absolute;
    background-color: #f7f7f7;
    width: 100%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    z-index: 9;
  }
}

.card {
  &-content {
    &--left {
      width: 100&;
      max-width: 128px;
    }
  }

  &-body {
    padding: 20px;
  }

  &-text {
    background-color: #FFF;
    width: 100%;
    height: 200px;
    padding-right: 10px;
    margin-top: 15px;
    overflow-X: hidden;
    overflow-y: auto;
  }
}

.btn:empty {
  display: none;
}

/* width */
.card-text::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.card-text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.card-text::-webkit-scrollbar-thumb {
  background: #007bff;
}

/* Handle on hover */
.card-text::-webkit-scrollbar-thumb:hover {
  background: #0069d9;
}

@media (max-width: 575px) {
  .modal-window {
    overflow-y: auto
  }

  .card {
    &-content {
      &--left {
        max-width: none;
      }
    }

    &-img {
      &-right {
        width: 100%;
        object-fit: cover;
        height: 100vw;
      }
    }
  }
}
